<!DOCTYPE html>
<html>
  
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
      }

      @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
      }
    </style>
  </head>
  
  <body>
    <div class="wrapper">
      <div id="map" style='width: 100%; height: 100%;'></div>
    </div>

    <script
    src="http://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

    <script>
      var map, infoWindow;
      var berkeley = {lat: 37.871853, lng: -122.258423};

      function updateData() {
        var feedback = $.ajax({
            type: 'GET',
            url: 'http://localhost:5000/api/',
          success: function (data) {
            var userlist = JSON.parse(data);
            console.log(data);
            console.log(userlist.users);
            for (i = 0; i < userlist.users.length; i++) {
              if (userlist.users[i].lat != null && userlist.users[i].long != null) {
                var latlng = new google.maps.LatLng(userlist.users[i].lat, userlist.users[i].long);
                console.log(latlng);
                var marker = new google.maps.Marker({
                  type: 'user',
                  position: latlng,
                  // icon: 'position.png', 
                  map: map
                });
              }
            };
          },
          error: function(data) {
            $("#result").html(data);
          }
        });
      }
      setInterval(updateData, 10000);

      function BlurMap(blurDiv, map) {
        var blurUI = document.createElement('div');
        blurUI.style.display = 'absolute';
        blurUI.style.top = '0%';
        blurUI.style.left = '0%';
        blurUI.style.position = 'fixed';
        blurUI.style.width = '100%';
        blurUI.style.height = '100%';
        blurUI.style.padding = '10px 100px 100px 100px';
        blurUI.style.backgroundColor = 'rgba(0,0,0,0.75)';
        blurDiv.appendChild(blurUI);
      }

      function BadgesView(badgesDiv, map) {
        var badgesUI = document.createElement('div');
        badgesUI.style.display = 'absolute';
        badgesUI.style.position = 'fixed';
        badgesUI.style.color = 'white';
        badgesUI.style.borderRadius = '10px';  
        badgesUI.style.padding = '10px 100px 100px 100px';
        badgesUI.style.width = '40%';
        badgesUI.style.height = '40%';
        badgesUI.style.top = '25%';
        badgesUI.style.left = '25%';
        badgesUI.innerHTML = 'Badges';
        badgesUI.style.fontSize = '48px';
        badgesUI.style.textShadow = '0px 3px 0px #b2a98f, 0px 4px 10px rgba(0,0,0,0.15), 0px 10px 2px rgba(0,0,0,0.1), 0px 34px 30px rgba(0,0,0,0.1)';
        badgesUI.style.backgroundColor = '#3DB4CF';
        badgesUI.style.textAlign = 'center';
        badgesDiv.appendChild(badgesUI);

        var badge1 = document.createElement('IMG');
        // badge1.style.display = 'relative';
        badge1.setAttribute("src", "1.png");
        badge1.setAttribute("width", "32%");
        badgesDiv.appendChild(badge1);

        var badge2 = document.createElement('IMG');
        // badge2.style.display = 'relative';
        badge2.setAttribute("src", "2.png");
        badge2.setAttribute("width", "32%");
        badgesDiv.appendChild(badge2);

        var badge3 = document.createElement('IMG');
        // badge3.style.display = 'relative';
        badge3.setAttribute("src", "2.png");
        badge3.setAttribute("width", "32%");
        badgesDiv.appendChild(badge3);
      }

      function CenterControl(controlDiv, map) {
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#3DB4CF';
        controlUI.style.border = '2px solid #3DB4CF';
        controlUI.style.borderRadius = '5px';        // 
        controlUI.style.marginTop = '9px';
        controlUI.style.textAlign = 'center';
        $(controlUI).hover(
        function onMouseEnter() {
            this.style.backgroundColor = '#ffd24d';
            this.style.border = '2px solid #ffd24d';
        },
        function onMouseLeave() {
            this.style.backgroundColor = '#3DB4CF';
            this.style.border = '2px solid #3DB4CF';
        });
        controlUI.title = 'Badges';
        controlDiv.appendChild(controlUI);

        var controlText = document.createElement('div');
        controlText.style.color = 'white';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '12px';
        controlText.style.lineHeight = '28px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'Badges';
        controlUI.appendChild(controlText);

        controlUI.addEventListener('click', function() {
          var blurMapDiv = document.createElement('div');
          var blur = new BlurMap(blurMapDiv, map);
          blurMapDiv.index = 1;
          map.controls[google.maps.ControlPosition.TOP_LEFT].push(blurMapDiv);

          var badgesViewDiv = document.createElement('div');
          var badges = new BadgesView(badgesViewDiv, map);
          badgesViewDiv.index = 9999;
          map.controls[google.maps.ControlPosition.TOP_CENTER].push(badgesViewDiv);
        });
      }

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: berkeley,
          zoom: 17,
          mapTypeId: 'hybrid'
        });

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            var latlng = new google.maps.LatLng(pos.lat, pos.lng);

            var myMarker = new google.maps.Marker({
              type: 'me',
              position: latlng,
              // icon: 'my_position.png',
              map: map
            });

            map.setCenter(pos);
          }, function() {
            handleLocationError(true, myMarker, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, myMarker, map.getCenter());
        }

        var centerControlDiv = document.createElement('div');
        var centerControl = new CenterControl(centerControlDiv, map);

        centerControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(centerControlDiv);
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyzs5GXiEQzGtFBvzvkxkWs4i1KqXChLE&callback=initMap">
    </script>
  </body>
</html>